* {
    text-decoration: none;
    max-width: 500x;
    font-family: 'Raleway', sans-serif !important;
    
}

#div1.animated {
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 1s;
}

#div1 {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: -2%; /* Stay at the top */
    left: 0;
    background-color: #1f1f1f; /* Black */
    padding-top: px;
    width: 209px;
    margin-left: -1px;
    display: block;
    min-width: 200px;
    height: 110%;
    overflow-y:auto;
    padding-right: 8px;
    padding-left: 8px;
}


#topImg {
    width: 200px;
    padding-top: 2px;;
    margin-left: 4px;
}

.socialDiv {
    
}

.socialDiv h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 23px;
    margin-left: -5px;
    padding-bottom: 5px;
}

.logos {
    width: 40px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: -23px;
    padding-top: 10px;
}

#appleDiv {
    margin-left: 31px;
    margin-bottom: 50px;
    margin-top: -9px;
}

#appleDiv p {
    color: whitesmoke;
    font-size: 10px;
    width: 150px;
    text-align: center;
}

#navMenu {
    background-color: whitesmoke;
    border-radius: 25px;
    border: solid #1f1f1f 5px;

}

#navMenu ul {
    color: #1F1F1F;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 12px;
    margin-left: -21px;
    font-size: 21px;
    display: block;
    width: 194px;
    margin-right: -5px;
}

#navMenu ul li {
    border-bottom: #1F1F1F 1px solid;
    width: 160px;
    list-style-type: none;
    margin-top: 10px;
    display: block;
    padding-bottom:5px;
}

#current {
    padding-top: .3vh;
    color: silver !important;
}

#navMenu ul li a {
    color: #1f1f1f;
}

.socialDiv h1 {
    margin-top: 1px;
    padding-left: 5px;
}

body{
    background-color: #000;
     background-image: url(../media/inandofit_cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

main {
    margin-left: 295px; /* Same as the width of the sidebar */
    padding: 0px 60px 2px 0px;
    z-index: 2;
    min-width: 500px;
}

main p {
    color: white;
    background-color: rgba(31,31,31, .91);
    border-radius: 15px;
    padding: 15px;
    margin-right: 50px;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif !important;
}


main h1 {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(31,31,31, .92);
    min-width: 250px;
}

a.animated:hover {
    -webkit-animation: bounceIn 3s;
    animation: bounceIn 3s;
    -webkit-animation-iteration-count: 1;
}

#div1 img.animated:hover {
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
    -webkit-animation-iteration-count: 1;
}

.text {
    -webkit-animation: 2s;
    animation: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 2s;
}

#albumDiv {
    color: #1f1f1f;
    background-color: #1f1f1f;
    border-radius: 20px;
    padding: 30px;
    display: block;
    align-content: center;
    margin-top: 10px;
}

#albumDiv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-bottom: 10px;
}

#albumDiv iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid #1f1f1f 5px;
    border-radius: 20px;
}

div.gallery {
    margin: 10px;
    border: 1px solid #1f1f1f;
    border-radius: 10px;
    float: left;
    width: 250px;
    background-color: #1f1f1f;
    padding: 6px;
}

div.gallery:hover {
    color: gray;
    opacity: .97;
}

div.gallery img {
    width: 100%;
    height: auto;
    min-height: 250px;
    max-height: 250px;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: white;
    border: #1f1f1f solid 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}


#ecwid_body {
    background-color: #1f1f1f;
    margin-top: 10px;
    color: white;
}

#ecwid_body a:hover{
    color: darkgray;
}

#shopDiv {
    background-color: #1f1f1f;
    margin-top: 10px;
    color: white;
    z-index: 100002;
    display: block;
    position: relative;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

#calDiv {
    margin-top: 10px;
    background: rgba(255,255,255,0.9);
    color: #1f1f1f;
    border: 3px solid rgba(255,255,255,0.01);
    border-radius: 10px;
    padding: 10px;
    
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#calendar {
    margin: 0 auto;
}